.register-section {
    padding: 100px 0;
}

.register-col_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.register-col_right-img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.register-col_right-form {
    width: 70%;
}


/* .form-group input,
textarea {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: var(--primary-text-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 8px 0;
} */

.form-group input,
textarea {
    padding: 7px 10px;
    border-radius: 5px;
    color: var(--primary-text-color);
    margin: 8px 0;
}

.form-control:focus {
    background-color: #f3f3f3;
    box-shadow: none;
}

.register-col_right-btn {
    width: 100%;
}

.register-col_right-form p {
    font-family: 'Courier New', Courier, monospace;
}

.register-col_right-form-text {
    color: var(--third-text-color);
}

.register-col_right-form p span:hover {
    cursor: pointer;
}