* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background-color: #fafafa;
    --secondary-background-color: #d1dae3;
    --dashbord-primary-background: rgb(247, 247, 247);
    --background--image: linear-gradient(to right, #f50057, #ffab00);
    --food-card-background: #F5F5F5;
    --primary-color: #ffab00;
    --secondary-color: #f50057;
    --third-color: #122936;
    --primary-text-color: #212121;
    --secondary-text-color: #fafafa;
    --third-text-color: #f50057;
    --font-family: 'Courier New', Courier, monospace;
}


/* common style */

body {
    overflow-x: hidden;
}

img {
    -webkit-filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    filter: saturate(150%) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.link {
    color: var(--third-text-color);
    text-decoration: none;
}

.link:hover {
    color: var(--third-text-color);
    text-decoration: none;
}

.btn {
    color: var(--primary-text-color);
    border: 1px solid var(--primary-color);
    position: relative;
    overflow: hidden;
    align-items: center;
    font-family: var(--font-family);
}

.btn::before {
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    height: 100%;
    text-align: center;
    color: var(--secondary-text-color);
    top: 0;
    z-index: -99;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn:focus {
    box-shadow: none;
}

.btn-grad {
    background-image: linear-gradient(to right, #f50057 0%, #ffab00 51%, #f50057 100%)
}

.btn-grad {
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@-webkit-keyframes example {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        right: 0;
        width: 0;
    }
}

@keyframes example {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        width: 100%;
        right: 0;
    }
    100% {
        right: 0;
        width: 0;
    }
}


/* admin-dashbord */

.admin-dashbord {
    display: flex;
    background-color: var( --dashbord-primary-background);
}