.user-review {
    display: flex;
    background-color: var(--dashbord-primary-background);
}

.user-review_body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-review_body-inner {
    width: 60%;
}

.review-card {
    padding: 40px 80px;
}

.review-card h2 {
    text-transform: uppercase;
}

.review-card button {
    margin: 10px;
    padding: 10px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    letter-spacing: 1px;
}