.food {
    height: auto;
    padding: 100px 0;
}

.food-hader {
    text-align: center;
}

.nav_item ul li {
    display: inline-block;
    margin: 50px 20px;
    padding: 5px 10px;
    background-color: none;
}

.nav_link {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.active,
.nav_link:hover {
    text-decoration: none;
    color: var( --primary-color);
    border-bottom: 2px solid var( --primary-color);
}

.food-card {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 20px;
    background-color: var(--third-color);
    text-align: center;
    margin: 10px;
    overflow: hidden;
    z-index: 99;
}

.food-card::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -50%;
    left: 0;
    background-color: var(--third-text-color);
    /* background-image: var(--background--image); */
    transform: skewY(345deg);
    transition: 0.5s;
    z-index: 1;
}

.food-card:hover::before {
    top: -60%;
    transform: skewY(390deg);
    z-index: 1;
}

.food-card-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 99;
}

.food-card-image img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transition: 0.5s;
}

.food-card:hover .food-card-image img {
    width: 80%;
}

.food-card-content h3 {
    font-size: 18px;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 99;
}

.food-card:hover h3 {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
    color: var(--primary-color);
    z-index: 1;
}

.food-card-content h2 {
    font-size: 24px;
    color: var( --third-text-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.food-card-content button {
    position: relative;
    border: none;
    top: 200px;
    opacity: 0;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    letter-spacing: 1px;
    transition: 0.5s;
}

.food-card:hover .food-card-content button {
    top: 0;
    opacity: 1;
}