.home-hader {
    width: 100vw;
    height: 80vh;
}


/* .home-hader_inner {
    text-align: center;
    font-family: var( --font-family);
}

.home-hader_inner span {
    color: var(--third-text-color);
    font-weight: 800;
    text-transform: uppercase;
} */

.home-header-container {
    width: 80%;
    margin: 0 auto;
}

.header-btn {
    padding: 10px 20px;
    border-radius: 20px;
}

.header-btn-2 {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-family);
    margin-top: 4px;
}

.header-btn-2:hover {
    color: var(--third-text-color);
    text-decoration: none;
}

.hero-info {
    margin-top: 80px;
}

.hero-info li {
    padding: 0 8px;
}

.hero-info li span {
    font-size: 30px;
}

.hero-info li h5 {
    margin-top: 8px;
}

.border-right {
    border-right: 1px solid #ddd;
}